// breakpoints
$breakpoints: (
	xs: 400px,
	s: 600px,
  m: 767px,
  l: 1001px,
  xl: 1025px,
  xxl: 1440px
);

$white        : #fff;
$black        : #000;
$green--light : #b8fba8;
$green--dark  : #358998;
