.logo {
  max-width: 400px;
  fill: $green--dark;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}

.pokemon-choice {
  text-align: center;
  h2 {
    animation: choice-animate 0.5s forwards ease;
  }
}

.message {
  text-align: center;
  .egg-message {
    &:before {
      content: '';
      display: block;
      margin: 0 auto;
      position: relative;
      // @include sprite-background(luckyegg);
    }
  }
}

.evolution-bonus {
  position: relative;
  width: 320px;
  margin: 0 auto 30px;
}

// .bonus {
//   width: 70px;
//   padding: 22px 10px;
//   height: 70px;
//   font-size: 13px;
//   font-weight: 600;
//   text-align: center;
//   opacity: 0;
//   // @include sprite-background(bonus);
//   position: absolute;
//   right: -70px;
//   top: -50px;
//   &.bonus-animated {
//     animation: bonus-animate 0.3s forwards ease;
//   }
// }

form {
  background: rgba($white, 0.3);
  box-shadow:  0 1px 2px 0px rgba($black, 0.2);
  padding: 20px 10px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 30px;
  max-width: 680px;
  margin: 0 auto 30px;
  text-align: center;
  + p {
    text-align: center;
  }
  h2 {
    transform: rotate(-2deg);
  }
}

.meta-evolution {
  display: none;
}

.final-destination {
  .pokemon-avatar {
    padding: 0;
    margin: 10px auto;
  }
  + a {
    margin: 20px auto;
    display: block;
    max-width: 160px;
  }
}
