// Base styles
body {
  background: $green--light;
  /*animation: team-bg 60s infinite alternate;*/
  background: -moz-radial-gradient(top left, ellipse cover, #ffffff 31%, $green--light 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(top left, ellipse cover, #ffffff 31%,$green--light 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at top left, #ffffff 31%,$green--light 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$green--light',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-size: 100% 200%;
  color: $green--dark;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  @include mq(m) {
    font-size: 16px;
  }
}
h2 {
  font-family: 'Roboto Condensed', 'Lato';
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
}
p {
  margin: 0 auto 1em;
  line-height: 1.2em;
}
small {
  font-size: 0.8em;
}
.disclaimer {
  font-size: 0.8em;
  line-height: 1.2em;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
  color: #aaa;
}
a,
button {
  background: $green--dark;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-family: 'Roboto Condensed';
  font-size: 13px;
  margin: 20px 5px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease;

  &:hover {
    text-decoration: none;
    background: lighten($green--dark, 10%);
  }
  &:active {
    background: darken($green--dark, 5%);
  }
}
.logo {
  max-width: 400px;
  fill: $green--dark;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}
.pokemon-choice {
  text-align: center;
  h2 {
    animation: choice-animate 0.5s forwards ease;
  }
}
.message {
  text-align: center;
  .egg-message {
    &:before {
      content: '';
      display: block;
      margin: 0 auto;
      position: relative;
      // @include sprite-background(luckyegg);
    }
  }
}
.circular-button {
  border-radius: 20px;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
.wrapper {
  max-width: 80%;
  margin: 50px auto;
  height: 100vh;
}
input {
  min-height: 25px;
  border-radius: 3px;
  border: 2px solid #c0e1b9;
  border: 1px solid $green--dark;
  color: inherit;
  margin: 5px 0;
  padding: 5px;
}
label {
  display:block;
}
label[for="firstEvolve"] {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 18px;
  margin: 0px 5px -6px 0px;
  font-size: 13px;
  border: 1px solid $green--dark;
  height: 20px;
  border-radius: 3px;
  &:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;

  }
}
input[type=checkbox] {
  display: none;

  &:checked + label:before {
    content: "\2713";
    font-size: 15px;
    text-align: center;
    line-height: 15px;
  }
}
.evolution-bonus {
  position: relative;
  width: 320px;
  margin: 0 auto 30px;
}
.bonus {
  width: 70px;
  padding: 22px 10px;
  height: 70px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  // @include sprite-background(bonus);
  position: absolute;
  right: -70px;
  top: -50px;
  &.bonus-animated {
    animation: bonus-animate 0.3s forwards ease;
  }
}

@keyframes bonus-animate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(10deg);
  }
}

@keyframes choice-animate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-2deg);
  }
}

.widget__wrapper,
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  a {
    text-align: center;
  }
}
.species-instance {
  display: inline-block;
  &::first-letter {
    text-transform: uppercase;
  }
}

// Pokémon Selector
input {
  margin: 10px auto 30px;
}
.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ui-autocomplete a {
  background: $white;
  margin: auto;
  &:active {
    color: inherit;
  }
  &:hover {
    color: inherit;
  }
}
.ui-autocomplete-input {
  min-width: 260px;
}
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: 'Lato', 'Roboto Condensed';
}
.ui-widget input {
  &::first-letter {
    text-transform: uppercase;
  }
}
.ui-menu-item {
  padding: 5px;
}
.pokemon-number,
.candy-number {
  max-width: 100px;
  display: block;

}
.pokemon-avatar__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  max-width: 100%;
}
.pokemon-avatar {
  margin: 15px 5px;
  position: relative;
  &:last-of-type{  opacity: 0; animation: scale 0.5s forwards ease;}
}
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.pokemon-delete {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -15px;
  right: -10px;
  background: rgba($white, 0.8);
  padding: 3px 5px;
  border-radius: 20px;
  &:after {
    content: '\2715';
    font-size: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
form {
  border: 1px solid $green--dark;
  padding: 20px;
  // border-radius: 3px;
  margin-bottom: 30px;
  max-width: 680px;
  margin: 0 auto 30px;
  text-align: center;
  + p {
    text-align: center;
  }
  h2 {
    transform: rotate(-2deg);
  }
}
.buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table {
  margin: 0 auto;
  @include mq(m) {
    display: table;
    border-collapse: collapse;
    border: 1px solid $green--dark;
    width: 680px;
  }
  thead tr {
    background: $green--light;
  }
  tr {
    background: $white;
    border-bottom: 1px solid rgba($black, 0.1);
    &:last-child {
      border-bottom: $green--dark;
    }
  }
  thead,
  tfoot {
    font-size: 14px;
    font-family: 'Roboto condensed';
    text-transform: uppercase;
  }
  td {
    padding: 5px 3px;
    text-align: center;
    vertical-align: middle;
    @include mq(m) {
      padding: 5px 8px;
    }
  }
  .wide {
    display: none;
    @include mq(m) {
      display: table-cell;
    }
  }
}
.meta-evolution {
  display: none;
}
.final-destination {
  .pokemon-avatar {
    padding: 0;
    margin: 10px auto;
  }
  + a {
    margin: 20px auto;
    display: block;
    max-width: 160px;
  }
}
