//box-sizing
@mixin box-sizing($value) {
	-moz-box-sizing: $value;
	box-sizing: $value;
}

html {
	@include box-sizing(border-box);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

// breakpoints
$breakpoints: (
	xs: 400px,
	s: 600px,
  m: 767px,
  l: 1001px,
  xl: 1025px,
  xxl: 1440px
);

@mixin mq($name) {
  @if not map-has-key($breakpoints, $name) {
	@warn "Warning: `#{$name}` is not a valid breakpoint name.";
  }
  @else {
	@media screen and (min-width: map-get($breakpoints, $name)) {
	  @content;
	 }
  }
}

// clearfix
@mixin cf() {
	*zoom:1;
	&:before,
	&:after {
		content:"";
		display:table;
	}
	&:after {
	clear:both;
	}
}
