// Base styles
body {
  background: $green--light;
  /*animation: team-bg 60s infinite alternate;*/
  background: -moz-radial-gradient(top left, ellipse cover, #ffffff 31%, $green--light 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(top left, ellipse cover, #ffffff 31%,$green--light 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at top left, #ffffff 31%,$green--light 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$green--light',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $green--dark;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

p {
  margin-bottom: 1em;
}

a,
button {
  background: $green--dark;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-family: 'Roboto Condensed';
  font-size: 13px;
  margin: 20px 0;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease;

  &:hover {
    text-decoration: none;
    background: lighten($green--dark, 10%);
  }
  &:active {
    background: darken($green--dark, 5%);
  }
}
.wrapper {
  max-width: 80%;
  margin: 50px auto;
  height: 100vh;
}
input {
  min-height: 25px;
  border-radius: 3px;
  border: 2px solid #c0e1b9;
  border: 1px solid $green--dark;
  color: inherit;
  margin: 5px;
  padding: 5px;
}
.widget__wrapper,
.buttons {
  display: flex;
  align-items: center;
}
.buttons {
  a {
    margin-right: 15px;
  }
}
.species-instance {
  display: inline-block;
  &::first-letter {
    text-transform: uppercase;
  }
}

// Pokémon Selector
.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ui-autocomplete a {
  background: $white;
  &:active {
    color: inherit;
  }
  &:hover {
    color: inherit;
  }
}
.ui-autocomplete-input {
  min-width: 260px;
}
.ui-widget,
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Lato', 'Roboto Condensed';
}
.ui-widget input {
  &::first-letter {
    text-transform: uppercase;
  }
}
.ui-menu-item {
  padding: 5px;
}
.pokemon-number {
  max-width: 50px;
}
.pokemon-avatar__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 100%;
}
.pokemon-avatar {
  margin: 15px 5px;
  position: relative;
}
.pokemon-delete {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -15px;
  right: -10px;
  background: rgba($white, 0.8);
  padding: 3px 5px;
  border-radius: 20px;
  &:after {
    content: '\2715';
    font-size: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

form {
  border: 1px solid $green--dark;
  padding: 20px 20px 0;
  border-radius: 3px;
	margin-bottom: 30px;
}

.final-destination {
  display: block;
  border: 1px solid $green--dark;
  background: rgba($white, 0.8);
  border-radius: 3px;
  border-collapse: collapse;

  thead,
  tr {
    border-bottom: 1px solid rgba($black, 0.1);
  }
  thead,
  tfoot {
    font-size: 14px;
    font-family: 'Roboto condensed';
    text-transform: uppercase;
  }
  td {
    padding: 5px 8px;
    text-align: center;
	  vertical-align: middle;
  }
  .pokemon-avatar {
    padding: 0;
  }
}
