// Base styles
body {
  background: #b8fba8;
  /*animation: team-bg 60s infinite alternate;*/
  background: -moz-radial-gradient(top left, ellipse cover, #ffffff 31%, #b8fba8 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(top left, ellipse cover, #ffffff 31%,#b8fba8 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at top left, #ffffff 31%,#b8fba8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b8fba8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #358998;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
p {
  margin-bottom: 1em;
}
.wrapper {
  max-width: 80%;
  margin: 50px auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  min-height: 25px;
  border-radius: 3px;
  border: 2px solid #c0e1b9;
  border: 1px solid #358998;
  color: inherit;
  margin: 5px 5px 30px;
  padding: 5px;
}
.species-instance {
  display: inline-block;
  &::first-letter {
    text-transform: uppercase;
  }
}

// Pokémon Selector
.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ui-autocomplete-input {
  min-width: 260px;
}
.ui-widget,
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Lato', 'Roboto Condensed';
}
.ui-widget input {
  &::first-letter {
    text-transform: uppercase;
  }
}
.ui-menu-item {
  padding: 5px;
}
.pokemon-number {
  max-width: 50px;
}
.pokemon-avatar__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 100%;
}
.pokemon-ava {
  margin: 15px 5px;
  position: relative;
}
.pokemon-delete {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -15px;
  right: -10px;
  background: rgba(255, 255, 255, 0.5);
  padding: 3px 5px;
  border-radius: 20px;
  &:after {
    content: '\2715';
    font-size: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}




label.candy:before {
  content: '';
  @include sprite-background(candy_vector_secondary_color);
  display: block;
  background-color: purple;
  border-radius: 20px;
}
.candy {
  color: #358998;
  padding: 5px;
}
span.candy {
  border: 1px solid;
  border-color: inherit;
  border-radius: 20px;
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 10px;
  position: relative;
}
span.candy:hover:after {
  content: "How much candy do you have for this species?";
  font-family: 'Roboto Condensed', 'Lato', sans-serif;
  font-weight: 400;
  color: black;
  text-transform: none;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  width: 150px;
  line-height:19px;
  padding: 5px;
  border-radius: 5px;
  right: -150px;
  top: -60px;
  position: absolute;
}
