/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------------------------------------
----------------               Base styles   ---------------------- -------------------------------------------------------------------*/
body {
  background: #b8fba8;
  background: -webkit-radial-gradient(top left ellipse, #ffffff 31%, #b8fba8 100%);
  background: radial-gradient(ellipse at top left, #ffffff 31%, #b8fba8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: #358998;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

@media screen and (min-width: 767px) {
  body {
    font-size: 18px;
  }
}

body.mystic {
  background: #92c5fc;
  background: -webkit-radial-gradient(top left ellipse, #ffffff 31%, #92c5fc 100%);
  background: radial-gradient(ellipse at top left, #ffffff 31%, #92c5fc 100%);
  color: #0e3b6b;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.instinct {
  background: #feeea0;
  background: -webkit-radial-gradient(top left ellipse, #ffffff 31%, #feeea0 100%);
  background: radial-gradient(ellipse at top left, #ffffff 31%, #feeea0 100%);
  color: #ceac03;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.valor {
  background: #fba29d;
  background: -webkit-radial-gradient(top left ellipse, #ffffff 31%, #fba29d 100%);
  background: radial-gradient(ellipse at top left, #ffffff 31%, #fba29d 100%);
  color: #771252;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.teams {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 680px;
  margin: 10px auto 30px;
}

.teams a {
  display: block;
  width: 100px;
  height: 100px;
  max-width: 30%;
  cursor: pointer;
}

.mystic .teams .mystic-logo {
  -webkit-animation: logo-grow .3s ease;
          animation: logo-grow .3s ease;
}

.instinct .teams .instinct-logo {
  -webkit-animation: logo-grow .3s ease;
          animation: logo-grow .3s ease;
}

.valor .teams .valor-logo {
  -webkit-animation: logo-grow .3s ease;
          animation: logo-grow .3s ease;
}

h2 {
  display: block;
  font-family: 'Roboto Condensed', 'Lato';
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin: 0 auto 1em;
  line-height: 1.2em;
}

small {
  font-size: 0.8em;
}

button, .button {
  background: #358998;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto Condensed';
  font-size: 13px;
  margin: 20px 5px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.mystic button, .mystic .button {
  background: #0e3b6b;
}

.instinct button, .instinct .button {
  background: #ceac03;
}

.valor button, .valor .button {
  background: #771252;
}

button:hover, .button:hover {
  text-decoration: none;
  background: #43abbd;
}

.mystic button:hover, .mystic .button:hover {
  background: #145498;
}

.instinct button:hover, .instinct .button:hover {
  background: #fbd309;
}

.valor button:hover, .valor .button:hover {
  background: #a31971;
}

button:active, .button:active {
  background: #2e7885;
}

.mystic button:active, .mystic .button:active {
  background: #0b2f54;
}

.instinct button:active, .instinct .button:active {
  background: #b59703;
}

.valor button:active, .valor .button:active {
  background: #610f43;
}

li {
  list-style: none;
}

.logo {
  width: 100%;
  max-width: 400px;
  position: relative;
  fill: currentColor;
  cursor: pointer;
}

.disclaimer {
  font-size: 0.8em;
  line-height: 1.2em;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
  color: #aaa;
}

.pokemon-species {
  text-transform: capitalize;
}

.choice {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.choice.active {
  opacity: 1;
}

.choice h2 {
  -webkit-animation: choice-animate 0.5s forwards ease;
          animation: choice-animate 0.5s forwards ease;
}

.sadface {
  opacity: 0;
  height: 0;
  font-size: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sadface.active {
  opacity: 1;
  height: auto;
  font-size: 1em;
}

.circular-button {
  border-radius: 20px;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background: currentColor;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.circular-button:hover {
  background: #43abbd;
}

.mystic .circular-button:hover {
  background: #145498;
}

.instinct .circular-button:hover {
  background: #fbd309;
}

.valor .circular-button:hover {
  background: #a31971;
}

.circular-button span {
  color: #fff;
}

.details-icon.active {
  background: #fff;
  border: 1px solid currentColor;
  margin-bottom: 5px;
}

.details-icon.active span {
  color: currentColor;
}

.details-icon.active + .details {
  display: block;
  text-align: left;
  font-size: 11px;
  line-height: 1.5em;
}

.wrapper {
  width: 95%;
  margin: 50px auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .wrapper {
    width: 80%;
  }
}

.wrapper:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 2%;
  z-index: -1;
  opacity: 0.2;
}

.mystic .wrapper:before {
  background-image: url(../images/sprite.png);
  background-position: -262px 0px;
  width: 208px;
  height: 453px;
}

.valor .wrapper:before {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 262px;
  height: 477px;
}

.instinct .wrapper:before {
  background-image: url(../images/sprite.png);
  background-position: 0px -477px;
  width: 212px;
  height: 488px;
}

.evolution-bonus {
  position: relative;
  margin: 0 auto 30px;
}

.bonus {
  padding: 22px 10px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -40px;
}

@media screen and (min-width: 330px) {
  .bonus {
    bottom: -60px;
  }
}

@media screen and (min-width: 767px) {
  .bonus {
    bottom: -30px;
    right: 30px;
  }
}

.bonus.active {
  -webkit-animation: bonus-animate 0.3s forwards ease;
          animation: bonus-animate 0.3s forwards ease;
}

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons a {
  text-align: center;
}

.species-instance {
  display: inline-block;
}

.species-instance::first-letter {
  text-transform: uppercase;
}

.further-options {
  display: none;
}

.further-options.active {
  display: block;
}

.pokemon-avatar__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: relative;
  max-width: 100%;
}

.pokemon-avatar {
  margin: 15px 5px;
  position: relative;
}

.pokemon-avatar:last-of-type {
  opacity: 0;
  -webkit-animation: scale 0.5s forwards ease;
          animation: scale 0.5s forwards ease;
}

td .pokemon-avatar {
  margin: 0 auto;
}

.pokemon-delete {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -15px;
  right: -10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 3px 5px;
  border-radius: 20px;
}

.pokemon-delete:after {
  content: '\2715';
  font-size: 10px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

form {
  border: 1px solid #358998;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 680px;
  margin: 0 auto 30px;
  text-align: center;
}

form + p {
  text-align: center;
}

form h2 {
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.mystic form {
  border: 1px solid #0e3b6b;
}

.instinct form {
  border: 1px solid #ceac03;
}

.valor form {
  border: 1px solid #771252;
}

.buttons {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.evolution-table {
  text-align: center;
}

.evolution-table .details {
  display: none;
}

.evolution-table .details span {
  font-weight: 600;
  text-align: right;
  float: right;
}

.evolution-table .details span.pokemon-species {
  float: none;
  font-weight: 300;
}

.evolution-table .details hr {
  border: 0;
  height: 1px;
  background: currentColor;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(currentColor), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), currentColor, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), currentColor, rgba(255, 255, 255, 0));
}

@-webkit-keyframes bonus-animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(10deg);
            transform: scale(1) rotate(10deg);
  }
}

@keyframes bonus-animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(10deg);
            transform: scale(1) rotate(10deg);
  }
}

@-webkit-keyframes choice-animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-2deg);
            transform: scale(1) rotate(-2deg);
  }
}

@keyframes choice-animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-2deg);
            transform: scale(1) rotate(-2deg);
  }
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes logo-grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logo-grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.bulbasaur {
  background-image: url(../images/sprite.png);
  background-position: -270px -1371px;
  width: 55px;
  height: 65px;
}

.ivysaur {
  background-image: url(../images/sprite.png);
  background-position: -836px -620px;
  width: 94px;
  height: 79px;
}

.venusaur {
  background-image: url(../images/sprite.png);
  background-position: -598px -476px;
  width: 116px;
  height: 88px;
}

.charmander {
  background-image: url(../images/sprite.png);
  background-position: -1460px -901px;
  width: 44px;
  height: 60px;
}

.charmeleon {
  background-image: url(../images/sprite.png);
  background-position: -1392px -1097px;
  width: 52px;
  height: 84px;
}

.charizard {
  background-image: url(../images/sprite.png);
  background-position: -470px -500px;
  width: 123px;
  height: 100px;
}

.squirtle {
  background-image: url(../images/sprite.png);
  background-position: -1460px -618px;
  width: 51px;
  height: 57px;
}

.wartortle {
  background-image: url(../images/sprite.png);
  background-position: -1392px -1181px;
  width: 58px;
  height: 75px;
}

.blastoise {
  background-image: url(../images/sprite.png);
  background-position: -836px -355px;
  width: 95px;
  height: 88px;
}

.caterpie {
  background-image: url(../images/sprite.png);
  background-position: -1220px -338px;
  width: 26px;
  height: 34px;
}

.metapod {
  background-image: url(../images/sprite.png);
  background-position: -1460px -1379px;
  width: 35px;
  height: 56px;
}

.butterfree {
  background-image: url(../images/sprite.png);
  background-position: -727px -407px;
  width: 90px;
  height: 74px;
}

.weedle {
  background-image: url(../images/sprite.png);
  background-position: -1441px -638px;
  width: 19px;
  height: 31px;
}

.kakuna {
  background-image: url(../images/sprite.png);
  background-position: -1043px -549px;
  width: 32px;
  height: 60px;
}

.beedrill {
  background-image: url(../images/sprite.png);
  background-position: -1160px -923px;
  width: 65px;
  height: 80px;
}

.pidgey {
  background-image: url(../images/sprite.png);
  background-position: -1030px -683px;
  width: 33px;
  height: 44px;
}

.pidgeotto {
  background-image: url(../images/sprite.png);
  background-position: -953px 0px;
  width: 122px;
  height: 67px;
}

.pidgeot {
  background-image: url(../images/sprite.png);
  background-position: -598px -391px;
  width: 125px;
  height: 85px;
}

.rattata {
  background-image: url(../images/sprite.png);
  background-position: -1460px -553px;
  width: 45px;
  height: 65px;
}

.raticate {
  background-image: url(../images/sprite.png);
  background-position: -1392px -1256px;
  width: 63px;
  height: 69px;
}

.spearow {
  background-image: url(../images/sprite.png);
  background-position: -1220px -299px;
  width: 25px;
  height: 39px;
}

.fearow {
  background-image: url(../images/sprite.png);
  background-position: -247px -965px;
  width: 125px;
  height: 54px;
}

.ekans {
  background-image: url(../images/sprite.png);
  background-position: -1460px -1142px;
  width: 51px;
  height: 43px;
}

.arbok {
  background-image: url(../images/sprite.png);
  background-position: -1075px -401px;
  width: 72px;
  height: 85px;
}

.pikachu {
  background-image: url(../images/sprite.png);
  background-position: -980px -1299px;
  width: 55px;
  height: 58px;
}

.raichu {
  background-image: url(../images/sprite.png);
  background-position: -1392px -481px;
  width: 54px;
  height: 86px;
}

.sandshrew {
  background-image: url(../images/sprite.png);
  background-position: -1460px -494px;
  width: 52px;
  height: 59px;
}

.sandslash {
  background-image: url(../images/sprite.png);
  background-position: -1392px -238px;
  width: 67px;
  height: 73px;
}

.nidoranF {
  background-image: url(../images/sprite.png);
  background-position: -1036px -907px;
  width: 37px;
  height: 36px;
}

.nidorina {
  background-image: url(../images/sprite.png);
  background-position: -325px -1371px;
  width: 54px;
  height: 64px;
}

.nidoqueen {
  background-image: url(../images/sprite.png);
  background-position: -1392px -403px;
  width: 60px;
  height: 78px;
}

.nidoranM {
  background-image: url(../images/sprite.png);
  background-position: -1460px -675px;
  width: 52px;
  height: 55px;
}

.nidorino {
  background-image: url(../images/sprite.png);
  background-position: -1160px -153px;
  width: 80px;
  height: 73px;
}

.nidoking {
  background-image: url(../images/sprite.png);
  background-position: -953px -822px;
  width: 89px;
  height: 85px;
}

.clefairy {
  background-image: url(../images/sprite.png);
  background-position: -91px -1088px;
  width: 67px;
  height: 63px;
}

.clefable {
  background-image: url(../images/sprite.png);
  background-position: -953px -227px;
  width: 98px;
  height: 80px;
}

.vulpix {
  background-image: url(../images/sprite.png);
  background-position: -158px -1088px;
  width: 66px;
  height: 63px;
}

.ninetales {
  background-image: url(../images/sprite.png);
  background-position: -727px -83px;
  width: 82px;
  height: 84px;
}

.jigglypuff {
  background-image: url(../images/sprite.png);
  background-position: -349px -1088px;
  width: 55px;
  height: 57px;
}

.wigglytuff {
  background-image: url(../images/sprite.png);
  background-position: -1075px -320px;
  width: 76px;
  height: 81px;
}

.zubat {
  background-image: url(../images/sprite.png);
  background-position: -953px -907px;
  width: 83px;
  height: 54px;
}

.golbat {
  background-image: url(../images/sprite.png);
  background-position: -372px -965px;
  width: 125px;
  height: 44px;
}

.oddish {
  background-image: url(../images/sprite.png);
  background-position: -390px -906px;
  width: 56px;
  height: 55px;
}

.gloom {
  background-image: url(../images/sprite.png);
  background-position: -1160px -394px;
  width: 80px;
  height: 70px;
}

.vileplume {
  background-image: url(../images/sprite.png);
  background-position: -836px 0px;
  width: 117px;
  height: 76px;
}

.paras {
  background-image: url(../images/sprite.png);
  background-position: -468px -1088px;
  width: 60px;
  height: 41px;
}

.parasect {
  background-image: url(../images/sprite.png);
  background-position: -1075px 0px;
  width: 85px;
  height: 76px;
}

.venonat {
  background-image: url(../images/sprite.png);
  background-position: -107px -1371px;
  width: 54px;
  height: 70px;
}

.venomoth {
  background-image: url(../images/sprite.png);
  background-position: -836px -788px;
  width: 76px;
  height: 92px;
}

.diglett {
  background-image: url(../images/sprite.png);
  background-position: -1460px -1185px;
  width: 50px;
  height: 41px;
}

.dugtrio {
  background-image: url(../images/sprite.png);
  background-position: -1160px 0px;
  width: 88px;
  height: 68px;
}

.meowth {
  background-image: url(../images/sprite.png);
  background-position: -1460px -730px;
  width: 47px;
  height: 60px;
}

.persian {
  background-image: url(../images/sprite.png);
  background-position: -215px -1371px;
  width: 55px;
  height: 65px;
}

.psyduck {
  background-image: url(../images/sprite.png);
  background-position: -1392px 0px;
  width: 68px;
  height: 75px;
}

.golduck {
  background-image: url(../images/sprite.png);
  background-position: -727px -724px;
  width: 77px;
  height: 85px;
}

.mankey {
  background-image: url(../images/sprite.png);
  background-position: -1392px -161px;
  width: 65px;
  height: 77px;
}

.primeape {
  background-image: url(../images/sprite.png);
  background-position: -1075px -798px;
  width: 75px;
  height: 80px;
}

.growlithe {
  background-image: url(../images/sprite.png);
  background-position: -161px -1371px;
  width: 54px;
  height: 70px;
}

.arcanine {
  background-image: url(../images/sprite.png);
  background-position: -953px -635px;
  width: 77px;
  height: 99px;
}

.poliwag {
  background-image: url(../images/sprite.png);
  background-position: -224px -1088px;
  width: 68px;
  height: 60px;
}

.poliwhirl {
  background-image: url(../images/sprite.png);
  background-position: -953px -392px;
  width: 104px;
  height: 75px;
}

.poliwrath {
  background-image: url(../images/sprite.png);
  background-position: -953px -307px;
  width: 92px;
  height: 85px;
}

.abra {
  background-image: url(../images/sprite.png);
  background-position: -727px -551px;
  width: 95px;
  height: 69px;
}

.kadabra {
  background-image: url(../images/sprite.png);
  background-position: -1075px -239px;
  width: 78px;
  height: 81px;
}

.alakazam {
  background-image: url(../images/sprite.png);
  background-position: -727px -239px;
  width: 79px;
  height: 86px;
}

.machop {
  background-image: url(../images/sprite.png);
  background-position: -1460px -961px;
  width: 40px;
  height: 65px;
}

.machoke {
  background-image: url(../images/sprite.png);
  background-position: -1160px -68px;
  width: 70px;
  height: 85px;
}

.machamp {
  background-image: url(../images/sprite.png);
  background-position: -1075px -154px;
  width: 75px;
  height: 85px;
}

.bellsprout {
  background-image: url(../images/sprite.png);
  background-position: -1090px -1299px;
  width: 53px;
  height: 53px;
}

.weepinbell {
  background-image: url(../images/sprite.png);
  background-position: -727px -481px;
  width: 95px;
  height: 70px;
}

.victreebel {
  background-image: url(../images/sprite.png);
  background-position: -598px -564px;
  width: 109px;
  height: 93px;
}

.tentacool {
  background-image: url(../images/sprite.png);
  background-position: -1460px -203px;
  width: 43px;
  height: 75px;
}

.tentacruel {
  background-image: url(../images/sprite.png);
  background-position: -1160px -464px;
  width: 64px;
  height: 86px;
}

.geodude {
  background-image: url(../images/sprite.png);
  background-position: -497px -965px;
  width: 110px;
  height: 35px;
}

.graveler {
  background-image: url(../images/sprite.png);
  background-position: 0px -1026px;
  width: 104px;
  height: 62px;
}

.golem {
  background-image: url(../images/sprite.png);
  background-position: -953px -467px;
  width: 95px;
  height: 82px;
}

.ponyta {
  background-image: url(../images/sprite.png);
  background-position: -1460px -345px;
  width: 40px;
  height: 79px;
}

.rapidash {
  background-image: url(../images/sprite.png);
  background-position: -727px -809px;
  width: 66px;
  height: 98px;
}

.slowpoke {
  background-image: url(../images/sprite.png);
  background-position: 0px -1371px;
  width: 55px;
  height: 76px;
}

.slowbro {
  background-image: url(../images/sprite.png);
  background-position: -598px -657px;
  width: 115px;
  height: 88px;
}

.magnemite {
  background-image: url(../images/sprite.png);
  background-position: -727px -907px;
  width: 85px;
  height: 52px;
}

.magneton {
  background-image: url(../images/sprite.png);
  background-position: -104px -1026px;
  width: 73px;
  height: 58px;
}

.farfetchd {
  background-image: url(../images/sprite.png);
  background-position: -1460px -68px;
  width: 52px;
  height: 66px;
}

.doduo {
  background-image: url(../images/sprite.png);
  background-position: -1392px -638px;
  width: 49px;
  height: 94px;
}

.dodrio {
  background-image: url(../images/sprite.png);
  background-position: -1160px -299px;
  width: 60px;
  height: 95px;
}

.seel {
  background-image: url(../images/sprite.png);
  background-position: -390px -650px;
  width: 75px;
  height: 54px;
}

.dewgong {
  background-image: url(../images/sprite.png);
  background-position: -1160px -708px;
  width: 78px;
  height: 69px;
}

.grimer {
  background-image: url(../images/sprite.png);
  background-position: -727px 0px;
  width: 109px;
  height: 83px;
}

.muk {
  background-image: url(../images/sprite.png);
  background-position: -470px -600px;
  width: 125px;
  height: 77px;
}

.shellder {
  background-image: url(../images/sprite.png);
  background-position: -404px -1088px;
  width: 64px;
  height: 48px;
}

.cloyster {
  background-image: url(../images/sprite.png);
  background-position: -470px -861px;
  width: 99px;
  height: 92px;
}

.gastly {
  background-image: url(../images/sprite.png);
  background-position: -836px -176px;
  width: 100px;
  height: 86px;
}

.haunter {
  background-image: url(../images/sprite.png);
  background-position: -598px -289px;
  width: 110px;
  height: 102px;
}

.gengar {
  background-image: url(../images/sprite.png);
  background-position: -836px -443px;
  width: 89px;
  height: 92px;
}

.onix {
  background-image: url(../images/sprite.png);
  background-position: -470px -257px;
  width: 107px;
  height: 124px;
}

.drowzee {
  background-image: url(../images/sprite.png);
  background-position: -1392px -959px;
  width: 64px;
  height: 70px;
}

.hypno {
  background-image: url(../images/sprite.png);
  background-position: -953px -142px;
  width: 93px;
  height: 85px;
}

.krabby {
  background-image: url(../images/sprite.png);
  background-position: 0px -1088px;
  width: 91px;
  height: 67px;
}

.kingler {
  background-image: url(../images/sprite.png);
  background-position: -598px 0px;
  width: 129px;
  height: 92px;
}

.voltorb {
  background-image: url(../images/sprite.png);
  background-position: -1035px -1299px;
  width: 55px;
  height: 55px;
}

.electrode {
  background-image: url(../images/sprite.png);
  background-position: -1075px -486px;
  width: 78px;
  height: 78px;
}

.exeggcute {
  background-image: url(../images/sprite.png);
  background-position: -177px -1026px;
  width: 94px;
  height: 39px;
}

.exeggcutor {
  background-image: url(../images/sprite.png);
  background-position: -598px -197px;
  width: 126px;
  height: 92px;
}

.cubone {
  background-image: url(../images/sprite.png);
  background-position: -1460px -1226px;
  width: 40px;
  height: 51px;
}

.marowak {
  background-image: url(../images/sprite.png);
  background-position: -55px -1371px;
  width: 52px;
  height: 75px;
}

.hitmonlee {
  background-image: url(../images/sprite.png);
  background-position: -1392px -874px;
  width: 53px;
  height: 85px;
}

.hitmonchan {
  background-image: url(../images/sprite.png);
  background-position: -212px -477px;
  width: 50px;
  height: 75px;
}

.lickitung {
  background-image: url(../images/sprite.png);
  background-position: -1075px -719px;
  width: 77px;
  height: 79px;
}

.koffing {
  background-image: url(../images/sprite.png);
  background-position: -862px -1299px;
  width: 65px;
  height: 62px;
}

.weezing {
  background-image: url(../images/sprite.png);
  background-position: -953px -67px;
  width: 108px;
  height: 75px;
}

.rhyhorn {
  background-image: url(../images/sprite.png);
  background-position: -727px -325px;
  width: 82px;
  height: 82px;
}

.rhydon {
  background-image: url(../images/sprite.png);
  background-position: -598px -745px;
  width: 101px;
  height: 100px;
}

.chansey {
  background-image: url(../images/sprite.png);
  background-position: -836px -880px;
  width: 90px;
  height: 77px;
}

.tangela {
  background-image: url(../images/sprite.png);
  background-position: -1160px -226px;
  width: 79px;
  height: 73px;
}

.kangaskhan {
  background-image: url(../images/sprite.png);
  background-position: -598px -92px;
  width: 111px;
  height: 105px;
}

.horsea {
  background-image: url(../images/sprite.png);
  background-position: -1030px -635px;
  width: 34px;
  height: 48px;
}

.seadra {
  background-image: url(../images/sprite.png);
  background-position: -1160px -777px;
  width: 68px;
  height: 79px;
}

.goldeen {
  background-image: url(../images/sprite.png);
  background-position: -607px -965px;
  width: 64px;
  height: 31px;
}

.seaking {
  background-image: url(../images/sprite.png);
  background-position: -292px -1088px;
  width: 57px;
  height: 57px;
}

.staryu {
  background-image: url(../images/sprite.png);
  background-position: -1392px -806px;
  width: 67px;
  height: 68px;
}

.starmie {
  background-image: url(../images/sprite.png);
  background-position: -1075px -642px;
  width: 79px;
  height: 77px;
}

.mrmime {
  background-image: url(../images/sprite.png);
  background-position: -1075px -564px;
  width: 78px;
  height: 78px;
}

.scyther {
  background-image: url(../images/sprite.png);
  background-position: -470px -381px;
  width: 104px;
  height: 119px;
}

.jynx {
  background-image: url(../images/sprite.png);
  background-position: -953px -549px;
  width: 90px;
  height: 86px;
}

.electrabuzz {
  background-image: url(../images/sprite.png);
  background-position: -836px -699px;
  width: 83px;
  height: 89px;
}

.magmar {
  background-image: url(../images/sprite.png);
  background-position: -836px -262px;
  width: 90px;
  height: 93px;
}

.pinsir {
  background-image: url(../images/sprite.png);
  background-position: -836px -535px;
  width: 88px;
  height: 85px;
}

.tauros {
  background-image: url(../images/sprite.png);
  background-position: -598px -845px;
  width: 98px;
  height: 103px;
}

.magikarp {
  background-image: url(../images/sprite.png);
  background-position: -1160px -856px;
  width: 78px;
  height: 67px;
}

.gyarados {
  background-image: url(../images/sprite.png);
  background-position: -953px -734px;
  width: 86px;
  height: 88px;
}

.lapras {
  background-image: url(../images/sprite.png);
  background-position: -470px -773px;
  width: 105px;
  height: 88px;
}

.ditto {
  background-image: url(../images/sprite.png);
  background-position: -394px -525px;
  width: 63px;
  height: 52px;
}

.eevee {
  background-image: url(../images/sprite.png);
  background-position: -390px -778px;
  width: 67px;
  height: 54px;
}

.vaporeon {
  background-image: url(../images/sprite.png);
  background-position: -727px -167px;
  width: 95px;
  height: 72px;
}

.jolteon {
  background-image: url(../images/sprite.png);
  background-position: -1460px -278px;
  width: 48px;
  height: 67px;
}

.flareon {
  background-image: url(../images/sprite.png);
  background-position: -1392px -311px;
  width: 52px;
  height: 92px;
}

.porygon {
  background-image: url(../images/sprite.png);
  background-position: -1160px -635px;
  width: 74px;
  height: 73px;
}

.omanyte {
  background-image: url(../images/sprite.png);
  background-position: -1460px -790px;
  width: 50px;
  height: 56px;
}

.omastar {
  background-image: url(../images/sprite.png);
  background-position: -1075px -76px;
  width: 82px;
  height: 78px;
}

.kabuto {
  background-image: url(../images/sprite.png);
  background-position: -1392px -1325px;
  width: 60px;
  height: 42px;
}

.kabutops {
  background-image: url(../images/sprite.png);
  background-position: -1160px -550px;
  width: 64px;
  height: 85px;
}

.aerodactyl {
  background-image: url(../images/sprite.png);
  background-position: -122px -965px;
  width: 125px;
  height: 58px;
}

.snorlax {
  background-image: url(../images/sprite.png);
  background-position: -470px -677px;
  width: 99px;
  height: 96px;
}

.articuno {
  background-image: url(../images/sprite.png);
  background-position: -262px -453px;
  width: 132px;
  height: 125px;
}

.zabdos {
  background-image: url(../images/sprite.png);
  background-position: -470px -128px;
  width: 116px;
  height: 129px;
}

.moltres {
  background-image: url(../images/sprite.png);
  background-position: 0px -965px;
  width: 122px;
  height: 61px;
}

.dratini {
  background-image: url(../images/sprite.png);
  background-position: -1460px 0px;
  width: 52px;
  height: 68px;
}

.dragonair {
  background-image: url(../images/sprite.png);
  background-position: -1392px -75px;
  width: 59px;
  height: 86px;
}

.dragonite {
  background-image: url(../images/sprite.png);
  background-position: -727px -620px;
  width: 63px;
  height: 104px;
}

.mewtwo {
  background-image: url(../images/sprite.png);
  background-position: -836px -76px;
  width: 87px;
  height: 100px;
}

.mew {
  background-image: url(../images/sprite.png);
  background-position: -1392px -567px;
  width: 65px;
  height: 71px;
}

.pichu {
  background-image: url(../images/sprite.png);
  background-position: -1460px -846px;
  width: 49px;
  height: 55px;
}

.cleffa {
  background-image: url(../images/sprite.png);
  background-position: -1143px -1299px;
  width: 53px;
  height: 50px;
}

.magby {
  background-image: url(../images/sprite.png);
  background-position: -1460px -134px;
  width: 49px;
  height: 69px;
}

.igglybuff {
  background-image: url(../images/sprite.png);
  background-position: -1460px -1330px;
  width: 41px;
  height: 49px;
}

.elekid {
  background-image: url(../images/sprite.png);
  background-position: -1392px -1029px;
  width: 65px;
  height: 68px;
}

.smoochum {
  background-image: url(../images/sprite.png);
  background-position: -1460px -1277px;
  width: 38px;
  height: 53px;
}

.tyrogue {
  background-image: url(../images/sprite.png);
  background-position: -1460px -1076px;
  width: 35px;
  height: 66px;
}

.togepi {
  background-image: url(../images/sprite.png);
  background-position: -1460px -1026px;
  width: 48px;
  height: 50px;
}

.togetic {
  background-image: url(../images/sprite.png);
  background-position: -927px -1299px;
  width: 53px;
  height: 61px;
}

.umbreon {
  background-image: url(../images/sprite.png);
  background-position: -1460px -424px;
  width: 45px;
  height: 70px;
}

.espeon {
  background-image: url(../images/sprite.png);
  background-position: -1392px -732px;
  width: 62px;
  height: 74px;
}

.chikorita {
  background-image: url(../images/sprite.png);
  background-position: -1248px -72px;
  width: 72px;
  height: 72px;
}

.bayleef {
  background-image: url(../images/sprite.png);
  background-position: -504px -1299px;
  width: 72px;
  height: 72px;
}

.meganium {
  background-image: url(../images/sprite.png);
  background-position: -360px -1227px;
  width: 72px;
  height: 72px;
}

.cyndaquil {
  background-image: url(../images/sprite.png);
  background-position: -1320px -792px;
  width: 72px;
  height: 72px;
}

.quilava {
  background-image: url(../images/sprite.png);
  background-position: -576px -1227px;
  width: 72px;
  height: 72px;
}

.typhlosion {
  background-image: url(../images/sprite.png);
  background-position: -1152px -1155px;
  width: 72px;
  height: 72px;
}

.totodile {
  background-image: url(../images/sprite.png);
  background-position: -1248px -432px;
  width: 72px;
  height: 72px;
}

.croconaw {
  background-image: url(../images/sprite.png);
  background-position: -1320px -360px;
  width: 72px;
  height: 72px;
}

.feraligatr {
  background-image: url(../images/sprite.png);
  background-position: 0px -1227px;
  width: 72px;
  height: 72px;
}

.sentret {
  background-image: url(../images/sprite.png);
  background-position: -1320px -1008px;
  width: 72px;
  height: 72px;
}

.furret {
  background-image: url(../images/sprite.png);
  background-position: -864px -1227px;
  width: 72px;
  height: 72px;
}

.hoothoot {
  background-image: url(../images/sprite.png);
  background-position: -394px -453px;
  width: 72px;
  height: 72px;
}

.noctowl {
  background-image: url(../images/sprite.png);
  background-position: -1320px -432px;
  width: 72px;
  height: 72px;
}

.ledyba {
  background-image: url(../images/sprite.png);
  background-position: -1248px -288px;
  width: 72px;
  height: 72px;
}

.ledian {
  background-image: url(../images/sprite.png);
  background-position: -1248px -216px;
  width: 72px;
  height: 72px;
}

.spinarak {
  background-image: url(../images/sprite.png);
  background-position: -1248px -720px;
  width: 72px;
  height: 72px;
}

.ariados {
  background-image: url(../images/sprite.png);
  background-position: -1248px -792px;
  width: 72px;
  height: 72px;
}

.crobat {
  background-image: url(../images/sprite.png);
  background-position: -1224px -1227px;
  width: 72px;
  height: 72px;
}

.chinchou {
  background-image: url(../images/sprite.png);
  background-position: -1248px -360px;
  width: 72px;
  height: 72px;
}

.lanturn {
  background-image: url(../images/sprite.png);
  background-position: -1248px 0px;
  width: 72px;
  height: 72px;
}

.natu {
  background-image: url(../images/sprite.png);
  background-position: -1152px -1227px;
  width: 72px;
  height: 72px;
}

.xatu {
  background-image: url(../images/sprite.png);
  background-position: -936px -1227px;
  width: 72px;
  height: 72px;
}

.mareep {
  background-image: url(../images/sprite.png);
  background-position: -144px -1227px;
  width: 72px;
  height: 72px;
}

.flaaffy {
  background-image: url(../images/sprite.png);
  background-position: -288px -1227px;
  width: 72px;
  height: 72px;
}

.ampharos {
  background-image: url(../images/sprite.png);
  background-position: -504px -1155px;
  width: 72px;
  height: 72px;
}

.bellossom {
  background-image: url(../images/sprite.png);
  background-position: -792px -1155px;
  width: 72px;
  height: 72px;
}

.marill {
  background-image: url(../images/sprite.png);
  background-position: -216px -1227px;
  width: 72px;
  height: 72px;
}

.azumarill {
  background-image: url(../images/sprite.png);
  background-position: -1248px -1152px;
  width: 72px;
  height: 72px;
}

.politoed {
  background-image: url(../images/sprite.png);
  background-position: -432px -1299px;
  width: 72px;
  height: 72px;
}

.hoppip {
  background-image: url(../images/sprite.png);
  background-position: -390px -578px;
  width: 72px;
  height: 72px;
}

.skiploom {
  background-image: url(../images/sprite.png);
  background-position: -1320px -576px;
  width: 72px;
  height: 72px;
}

.jumpluff {
  background-image: url(../images/sprite.png);
  background-position: -432px -1155px;
  width: 72px;
  height: 72px;
}

.aipom {
  background-image: url(../images/sprite.png);
  background-position: -390px -706px;
  width: 72px;
  height: 72px;
}

.sunkern {
  background-image: url(../images/sprite.png);
  background-position: -1160px -1003px;
  width: 72px;
  height: 72px;
}

.sunflora {
  background-image: url(../images/sprite.png);
  background-position: -720px -1299px;
  width: 72px;
  height: 72px;
}

.yanma {
  background-image: url(../images/sprite.png);
  background-position: -576px -1299px;
  width: 72px;
  height: 72px;
}

.wooper {
  background-image: url(../images/sprite.png);
  background-position: -1320px -720px;
  width: 72px;
  height: 72px;
}

.quagsire {
  background-image: url(../images/sprite.png);
  background-position: -1160px -1075px;
  width: 72px;
  height: 72px;
}

.murkrow {
  background-image: url(../images/sprite.png);
  background-position: -1080px -1227px;
  width: 72px;
  height: 72px;
}

.slowking {
  background-image: url(../images/sprite.png);
  background-position: -1320px -144px;
  width: 72px;
  height: 72px;
}

.misdreavus {
  background-image: url(../images/sprite.png);
  background-position: -792px -1227px;
  width: 72px;
  height: 72px;
}

.unown {
  background-image: url(../images/sprite.png);
  background-position: -720px -1155px;
  width: 72px;
  height: 72px;
}

.girafarig {
  background-image: url(../images/sprite.png);
  background-position: -1320px -216px;
  width: 72px;
  height: 72px;
}

.wobbuffet {
  background-image: url(../images/sprite.png);
  background-position: -1320px -1152px;
  width: 72px;
  height: 72px;
}

.pineco {
  background-image: url(../images/sprite.png);
  background-position: -288px -1299px;
  width: 72px;
  height: 72px;
}

.forretress {
  background-image: url(../images/sprite.png);
  background-position: -648px -1227px;
  width: 72px;
  height: 72px;
}

.gligar {
  background-image: url(../images/sprite.png);
  background-position: -1320px -288px;
  width: 72px;
  height: 72px;
}

.dunsparce {
  background-image: url(../images/sprite.png);
  background-position: -864px -1155px;
  width: 72px;
  height: 72px;
}

.steelix {
  background-image: url(../images/sprite.png);
  background-position: -360px -1155px;
  width: 72px;
  height: 72px;
}

.snubbull {
  background-image: url(../images/sprite.png);
  background-position: -1248px -1080px;
  width: 72px;
  height: 72px;
}

.granbull {
  background-image: url(../images/sprite.png);
  background-position: -1320px -1224px;
  width: 72px;
  height: 72px;
}

.qwilfish {
  background-image: url(../images/sprite.png);
  background-position: -1248px -648px;
  width: 72px;
  height: 72px;
}

.scizor {
  background-image: url(../images/sprite.png);
  background-position: -144px -1299px;
  width: 72px;
  height: 72px;
}

.shuckle {
  background-image: url(../images/sprite.png);
  background-position: -1320px -864px;
  width: 72px;
  height: 72px;
}

.heracross {
  background-image: url(../images/sprite.png);
  background-position: -648px -1299px;
  width: 72px;
  height: 72px;
}

.sneasel {
  background-image: url(../images/sprite.png);
  background-position: -432px -1227px;
  width: 72px;
  height: 72px;
}

.teddiursa {
  background-image: url(../images/sprite.png);
  background-position: -1248px -1008px;
  width: 72px;
  height: 72px;
}

.ursaring {
  background-image: url(../images/sprite.png);
  background-position: -648px -1155px;
  width: 72px;
  height: 72px;
}

.slugma {
  background-image: url(../images/sprite.png);
  background-position: -1320px -72px;
  width: 72px;
  height: 72px;
}

.corsola {
  background-image: url(../images/sprite.png);
  background-position: -1008px -1227px;
  width: 72px;
  height: 72px;
}

.remoraid {
  background-image: url(../images/sprite.png);
  background-position: -1248px -936px;
  width: 72px;
  height: 72px;
}

.octillery {
  background-image: url(../images/sprite.png);
  background-position: -1320px -504px;
  width: 72px;
  height: 72px;
}

.delibird {
  background-image: url(../images/sprite.png);
  background-position: -1320px -936px;
  width: 72px;
  height: 72px;
}

.mantine {
  background-image: url(../images/sprite.png);
  background-position: -72px -1227px;
  width: 72px;
  height: 72px;
}

.skarmory {
  background-image: url(../images/sprite.png);
  background-position: -1320px -648px;
  width: 72px;
  height: 72px;
}

.houndour {
  background-image: url(../images/sprite.png);
  background-position: 0px -1155px;
  width: 72px;
  height: 72px;
}

.houndoom {
  background-image: url(../images/sprite.png);
  background-position: -390px -834px;
  width: 72px;
  height: 72px;
}

.kingdra {
  background-image: url(../images/sprite.png);
  background-position: -936px -1155px;
  width: 72px;
  height: 72px;
}

.phanpy {
  background-image: url(../images/sprite.png);
  background-position: -1320px -1080px;
  width: 72px;
  height: 72px;
}

.donphan {
  background-image: url(../images/sprite.png);
  background-position: -72px -1155px;
  width: 72px;
  height: 72px;
}

.porygon-two {
  background-image: url(../images/sprite.png);
  background-position: -1320px 0px;
  width: 72px;
  height: 72px;
}

.stantler {
  background-image: url(../images/sprite.png);
  background-position: -1080px -1155px;
  width: 72px;
  height: 72px;
}

.smeargle {
  background-image: url(../images/sprite.png);
  background-position: -504px -1227px;
  width: 72px;
  height: 72px;
}

.hitmontop {
  background-image: url(../images/sprite.png);
  background-position: -1075px -878px;
  width: 72px;
  height: 72px;
}

.miltank {
  background-image: url(../images/sprite.png);
  background-position: -720px -1227px;
  width: 72px;
  height: 72px;
}

.blissey {
  background-image: url(../images/sprite.png);
  background-position: 0px -1299px;
  width: 72px;
  height: 72px;
}

.raikou {
  background-image: url(../images/sprite.png);
  background-position: -216px -1155px;
  width: 72px;
  height: 72px;
}

.entei {
  background-image: url(../images/sprite.png);
  background-position: -1248px -576px;
  width: 72px;
  height: 72px;
}

.larvitar {
  background-image: url(../images/sprite.png);
  background-position: -1248px -144px;
  width: 72px;
  height: 72px;
}

.pupitar {
  background-image: url(../images/sprite.png);
  background-position: -576px -1155px;
  width: 72px;
  height: 72px;
}

.tyranitar {
  background-image: url(../images/sprite.png);
  background-position: -1008px -1155px;
  width: 72px;
  height: 72px;
}

.lugia {
  background-image: url(../images/sprite.png);
  background-position: -1248px -504px;
  width: 72px;
  height: 72px;
}

.ho-oh {
  background-image: url(../images/sprite.png);
  background-position: -1075px -950px;
  width: 72px;
  height: 72px;
}

/*------------------------------------------------------------------
----------------            Form styles       ---------------------- -------------------------------------------------------------------*/
input {
  min-height: 25px;
  border-radius: 3px;
  border: 1px solid currentColor;
  color: inherit;
  margin: 5px 0;
  padding: 5px;
}

label {
  display: block;
}

label[for="firstEvolve"] {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 18px;
  margin: 0px 5px -6px 0px;
  font-size: 13px;
  height: 20px;
  border-radius: 3px;
}

label[for="firstEvolve"]:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 15px;
  position: absolute;
  right: 0;
  bottom: 1px;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 3px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label:before {
  content: "\2713";
  font-size: 15px;
  text-align: center;
  line-height: 15px;
}

.numbered-inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbered-inputs input {
  max-width: 100px;
}

.numbered-inputs p {
  min-height: 50px;
}

@media screen and (min-width: 400px) {
  .numbered-inputs p {
    min-height: 40px;
  }
}

.numbered-inputs div {
  max-width: 49%;
}

/*-----------------------------------------------------------------
---------------- Autocomplete UI             ---------------------- -------------------------------------------------------------------*/
input {
  margin: 10px auto 30px;
}

.select-pokemon {
  width: 100%;
  height: 42px;
  padding: 10px 20px;
  font-size: 18px;
  -webkit-appearance: none;
  position: relative;
}

.select-pokemon:focus {
  outline: none;
}

.ui-widget {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}

.ui-menu {
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  width: 500px;
  margin: 0 auto;
}

.ui-autocomplete a {
  margin: auto;
}

.ui-autocomplete a:active {
  color: inherit;
  background: rgba(184, 251, 168, 0.6);
}

.mystic .ui-autocomplete a:active {
  background: rgba(146, 197, 252, 0.6);
}

.instinct .ui-autocomplete a:active {
  background: rgba(254, 238, 160, 0.6);
}

.valor .ui-autocomplete a:active {
  background: rgba(251, 162, 157, 0.6);
}

.ui-autocomplete a:hover {
  color: inherit;
  background: rgba(184, 251, 168, 0.6);
}

.mystic .ui-autocomplete a:hover {
  background: rgba(146, 197, 252, 0.6);
}

.instinct .ui-autocomplete a:hover {
  background: rgba(254, 238, 160, 0.6);
}

.valor .ui-autocomplete a:hover {
  background: rgba(251, 162, 157, 0.6);
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget .button,
.ui-menu-item a {
  font-family: 'Lato', 'Roboto Condensed';
}

.ui-menu-item a {
  text-transform: capitalize;
}

.ui-menu-item {
  padding: 5px;
}

.select-pokemon {
  -webkit-appearance: none;
}

table {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  border: 1px solid #358998;
}

.mystic table {
  border: 1px solid #0e3b6b;
}

.instinct table {
  border: 1px solid #ceac03;
}

.valor table {
  border: 1px solid #771252;
}

@media screen and (min-width: 767px) {
  table {
    display: table;
    border-collapse: collapse;
    width: 680px;
  }
}

table tr {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table thead tr,
table tfoot tr:first-of-type {
  border: 1px solid currentColor;
  background: #b8fba8;
}

.mystic table thead tr, .mystic
table tfoot tr:first-of-type {
  background: #92c5fc;
}

.instinct table thead tr, .instinct
table tfoot tr:first-of-type {
  background: #feeea0;
}

.valor table thead tr, .valor
table tfoot tr:first-of-type {
  background: #fba29d;
}

table thead,
table tfoot {
  font-size: 14px;
  font-family: 'Roboto condensed';
  text-transform: uppercase;
}

table tfoot tr {
  border: 1px solid currentColor;
}

table td {
  padding: 5px 3px;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 767px) {
  table td {
    padding: 5px 8px;
  }
}

table td.wide {
  display: none;
}

@media screen and (min-width: 767px) {
  table td.wide {
    display: table-cell;
  }
}

table td .meta-evolution {
  display: none;
}

table td .final-destination .pokemon-avatar {
  padding: 0;
  margin: 10px auto;
}

table td .final-destination + a {
  margin: 20px auto;
  display: block;
  max-width: 160px;
}

.evolution-table tbody tr:first-of-type {
  display: none;
}

/*# sourceMappingURL=style.css.map */
