/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------------------------------------
----------------               Base styles   ---------------------- -------------------------------------------------------------------*/
body {
  background: #b8fba8;
  background: -webkit-radial-gradient(top left ellipse, #ffffff 31%, #b8fba8 100%);
  background: radial-gradient(ellipse at top left, #ffffff 31%, #b8fba8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: #358998;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 767px) {
  body {
    font-size: 16px;
  }
}

body.mystic {
  background: #92c5fc;
  background: -webkit-radial-gradient(top left ellipse, #ffffff 31%, #92c5fc 100%);
  background: radial-gradient(ellipse at top left, #ffffff 31%, #92c5fc 100%);
  color: #0677ee;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.instinct {
  background: #feeea0;
  background: -webkit-radial-gradient(top left ellipse, #ffffff 31%, #feeea0 100%);
  background: radial-gradient(ellipse at top left, #ffffff 31%, #feeea0 100%);
  color: #ceac03;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.valor {
  background: #fba29d;
  background: -webkit-radial-gradient(top left ellipse, #ffffff 31%, #fba29d 100%);
  background: radial-gradient(ellipse at top left, #ffffff 31%, #fba29d 100%);
  color: #f3150a;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.teams {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 680px;
  margin: 10px auto 30px;
}

.teams a {
  display: block;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.teams .mystic-logo {
  background-image: url(../images/sprite.png);
  background-position: 0px -448px;
  width: 100px;
  height: 99px;
}

.mystic .teams .mystic-logo {
  -webkit-animation: logo-grow .3s ease;
          animation: logo-grow .3s ease;
}

.teams .instinct-logo {
  background-image: url(../images/sprite.png);
  background-position: -299px -448px;
  width: 100px;
  height: 93px;
}

.instinct .teams .instinct-logo {
  -webkit-animation: logo-grow .3s ease;
          animation: logo-grow .3s ease;
}

.teams .valor-logo {
  background-image: url(../images/sprite.png);
  background-position: -100px -448px;
  width: 100px;
  height: 98px;
}

.valor .teams .valor-logo {
  -webkit-animation: logo-grow .3s ease;
          animation: logo-grow .3s ease;
}

h2 {
  display: block;
  font-family: 'Roboto Condensed', 'Lato';
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin: 0 auto 1em;
  line-height: 1.2em;
}

small {
  font-size: 0.8em;
}

button, .button {
  background: #358998;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto Condensed';
  font-size: 13px;
  margin: 20px 5px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.mystic button, .mystic .button {
  background: #0677ee;
}

.instinct button, .instinct .button {
  background: #ceac03;
}

.valor button, .valor .button {
  background: #f3150a;
}

button:hover, .button:hover {
  text-decoration: none;
  background: #43abbd;
}

.mystic button:hover, .mystic .button:hover {
  background: #2d91fa;
}

.instinct button:hover, .instinct .button:hover {
  background: #fbd309;
}

.valor button:hover, .valor .button:hover {
  background: #f74239;
}

button:active, .button:active {
  background: #2e7885;
}

.mystic button:active, .mystic .button:active {
  background: #056bd5;
}

.instinct button:active, .instinct .button:active {
  background: #b59703;
}

.valor button:active, .valor .button:active {
  background: #db1309;
}

li {
  list-style: none;
}

.logo {
  width: 100%;
  max-width: 400px;
  position: relative;
  fill: currentColor;
  cursor: pointer;
}

.disclaimer {
  font-size: 0.8em;
  line-height: 1.2em;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
  color: #aaa;
}

.pokemon-species {
  text-transform: capitalize;
}

.choice {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.choice.active {
  opacity: 1;
}

.choice h2 {
  -webkit-animation: choice-animate 0.5s forwards ease;
          animation: choice-animate 0.5s forwards ease;
}

.sadface {
  opacity: 0;
  height: 0;
  font-size: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sadface.active {
  opacity: 1;
  height: auto;
  font-size: 1em;
}

.circular-button {
  border-radius: 20px;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background: currentColor;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.circular-button:hover {
  background: #43abbd;
}

.mystic .circular-button:hover {
  background: #2d91fa;
}

.instinct .circular-button:hover {
  background: #fbd309;
}

.valor .circular-button:hover {
  background: #f74239;
}

.circular-button span {
  color: #fff;
}

.details-icon.active {
  background: #fff;
  border: 1px solid currentColor;
  margin-bottom: 5px;
}

.details-icon.active span {
  color: currentColor;
}

.details-icon.active + .details {
  display: block;
  text-align: left;
  font-size: 11px;
  line-height: 1.5em;
}

.wrapper {
  width: 80%;
  margin: 50px auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.evolution-bonus {
  position: relative;
  margin: 0 auto 30px;
}

.bonus {
  padding: 22px 10px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -40px;
}

.bonus.active {
  -webkit-animation: bonus-animate 0.3s forwards ease;
          animation: bonus-animate 0.3s forwards ease;
}

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons a {
  text-align: center;
}

.species-instance {
  display: inline-block;
}

.species-instance::first-letter {
  text-transform: uppercase;
}

.further-options {
  display: none;
}

.further-options.active {
  display: block;
}

.pokemon-avatar__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: relative;
  max-width: 100%;
}

.pokemon-avatar {
  margin: 15px 5px;
  position: relative;
}

.pokemon-avatar:last-of-type {
  opacity: 0;
  -webkit-animation: scale 0.5s forwards ease;
          animation: scale 0.5s forwards ease;
}

td .pokemon-avatar {
  margin: 0 auto;
}

.pokemon-delete {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -15px;
  right: -10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 3px 5px;
  border-radius: 20px;
}

.pokemon-delete:after {
  content: '\2715';
  font-size: 10px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

form {
  border: 1px solid #358998;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 680px;
  margin: 0 auto 30px;
  text-align: center;
}

form + p {
  text-align: center;
}

form h2 {
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.mystic form {
  border: 1px solid #0677ee;
}

.instinct form {
  border: 1px solid #ceac03;
}

.valor form {
  border: 1px solid #f3150a;
}

.buttons {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.evolution-table {
  text-align: center;
}

.evolution-table .details {
  display: none;
}

.evolution-table .details span {
  font-weight: 600;
  text-align: right;
  float: right;
}

.evolution-table .details span.pokemon-species {
  float: none;
  font-weight: 300;
}

.evolution-table .details hr {
  border: 0;
  height: 1px;
  background: currentColor;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(currentColor), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), currentColor, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), currentColor, rgba(255, 255, 255, 0));
}

@-webkit-keyframes bonus-animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(10deg);
            transform: scale(1) rotate(10deg);
  }
}

@keyframes bonus-animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(10deg);
            transform: scale(1) rotate(10deg);
  }
}

@-webkit-keyframes choice-animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-2deg);
            transform: scale(1) rotate(-2deg);
  }
}

@keyframes choice-animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-2deg);
            transform: scale(1) rotate(-2deg);
  }
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes logo-grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logo-grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.bulbasaur {
  background-image: url(../images/sprite.png);
  background-position: -1129px -431px;
  width: 55px;
  height: 65px;
}

.ivysaur {
  background-image: url(../images/sprite.png);
  background-position: -95px -703px;
  width: 94px;
  height: 79px;
}

.venusaur {
  background-image: url(../images/sprite.png);
  background-position: -474px 0px;
  width: 116px;
  height: 88px;
}

.charmander {
  background-image: url(../images/sprite.png);
  background-position: -1076px -574px;
  width: 44px;
  height: 60px;
}

.charmeleon {
  background-image: url(../images/sprite.png);
  background-position: -1076px -85px;
  width: 52px;
  height: 84px;
}

.charizard {
  background-image: url(../images/sprite.png);
  background-position: 0px -256px;
  width: 123px;
  height: 100px;
}

.squirtle {
  background-image: url(../images/sprite.png);
  background-position: -1076px -293px;
  width: 51px;
  height: 57px;
}

.wartortle {
  background-image: url(../images/sprite.png);
  background-position: 0px -1010px;
  width: 58px;
  height: 75px;
}

.blastoise {
  background-image: url(../images/sprite.png);
  background-position: -590px -362px;
  width: 95px;
  height: 88px;
}

.caterpie {
  background-image: url(../images/sprite.png);
  background-position: -1027px -309px;
  width: 26px;
  height: 34px;
}

.metapod {
  background-image: url(../images/sprite.png);
  background-position: -1076px -834px;
  width: 35px;
  height: 56px;
}

.butterfree {
  background-image: url(../images/sprite.png);
  background-position: -189px -703px;
  width: 90px;
  height: 74px;
}

.weedle {
  background-image: url(../images/sprite.png);
  background-position: -1108px -890px;
  width: 19px;
  height: 31px;
}

.kakuna {
  background-image: url(../images/sprite.png);
  background-position: -1076px -890px;
  width: 32px;
  height: 60px;
}

.beedrill {
  background-image: url(../images/sprite.png);
  background-position: -950px -662px;
  width: 65px;
  height: 80px;
}

.pidgey {
  background-image: url(../images/sprite.png);
  background-position: -1027px -94px;
  width: 33px;
  height: 44px;
}

.pidgeotto {
  background-image: url(../images/sprite.png);
  background-position: -117px -547px;
  width: 122px;
  height: 67px;
}

.pidgeot {
  background-image: url(../images/sprite.png);
  background-position: -126px -356px;
  width: 125px;
  height: 85px;
}

.rattata {
  background-image: url(../images/sprite.png);
  background-position: -1076px -228px;
  width: 45px;
  height: 65px;
}

.raticate {
  background-image: url(../images/sprite.png);
  background-position: -552px -861px;
  width: 63px;
  height: 69px;
}

.spearow {
  background-image: url(../images/sprite.png);
  background-position: -1027px -270px;
  width: 25px;
  height: 39px;
}

.fearow {
  background-image: url(../images/sprite.png);
  background-position: -364px -547px;
  width: 125px;
  height: 54px;
}

.ekans {
  background-image: url(../images/sprite.png);
  background-position: -1076px -699px;
  width: 51px;
  height: 43px;
}

.arbok {
  background-image: url(../images/sprite.png);
  background-position: -792px -173px;
  width: 72px;
  height: 85px;
}

.pikachu {
  background-image: url(../images/sprite.png);
  background-position: -1129px -836px;
  width: 55px;
  height: 58px;
}

.raichu {
  background-image: url(../images/sprite.png);
  background-position: -792px -648px;
  width: 54px;
  height: 86px;
}

.sandshrew {
  background-image: url(../images/sprite.png);
  background-position: -1076px -169px;
  width: 52px;
  height: 59px;
}

.sandslash {
  background-image: url(../images/sprite.png);
  background-position: -792px -405px;
  width: 67px;
  height: 73px;
}

.nidoranF {
  background-image: url(../images/sprite.png);
  background-position: -1027px -138px;
  width: 37px;
  height: 36px;
}

.nidorina {
  background-image: url(../images/sprite.png);
  background-position: -1129px -564px;
  width: 54px;
  height: 64px;
}

.nidoqueen {
  background-image: url(../images/sprite.png);
  background-position: -792px -570px;
  width: 60px;
  height: 78px;
}

.nidoranM {
  background-image: url(../images/sprite.png);
  background-position: -1076px -350px;
  width: 52px;
  height: 55px;
}

.nidorino {
  background-image: url(../images/sprite.png);
  background-position: -235px -861px;
  width: 80px;
  height: 73px;
}

.nidoking {
  background-image: url(../images/sprite.png);
  background-position: -699px -443px;
  width: 89px;
  height: 85px;
}

.clefairy {
  background-image: url(../images/sprite.png);
  background-position: -240px -785px;
  width: 67px;
  height: 63px;
}

.clefable {
  background-image: url(../images/sprite.png);
  background-position: 0px -623px;
  width: 98px;
  height: 80px;
}

.vulpix {
  background-image: url(../images/sprite.png);
  background-position: -307px -785px;
  width: 66px;
  height: 63px;
}

.ninetales {
  background-image: url(../images/sprite.png);
  background-position: -868px 0px;
  width: 82px;
  height: 84px;
}

.jigglypuff {
  background-image: url(../images/sprite.png);
  background-position: -1129px -973px;
  width: 55px;
  height: 57px;
}

.wigglytuff {
  background-image: url(../images/sprite.png);
  background-position: -792px -92px;
  width: 76px;
  height: 81px;
}

.zubat {
  background-image: url(../images/sprite.png);
  background-position: -591px -623px;
  width: 83px;
  height: 54px;
}

.golbat {
  background-image: url(../images/sprite.png);
  background-position: -489px -547px;
  width: 125px;
  height: 44px;
}

.oddish {
  background-image: url(../images/sprite.png);
  background-position: -737px -861px;
  width: 56px;
  height: 55px;
}

.gloom {
  background-image: url(../images/sprite.png);
  background-position: -394px -861px;
  width: 80px;
  height: 70px;
}

.vileplume {
  background-image: url(../images/sprite.png);
  background-position: 0px -547px;
  width: 117px;
  height: 76px;
}

.paras {
  background-image: url(../images/sprite.png);
  background-position: -571px -785px;
  width: 60px;
  height: 41px;
}

.parasect {
  background-image: url(../images/sprite.png);
  background-position: 0px -785px;
  width: 85px;
  height: 76px;
}

.venonat {
  background-image: url(../images/sprite.png);
  background-position: -1129px -221px;
  width: 54px;
  height: 70px;
}

.venomoth {
  background-image: url(../images/sprite.png);
  background-position: -792px 0px;
  width: 76px;
  height: 92px;
}

.diglett {
  background-image: url(../images/sprite.png);
  background-position: -1076px -742px;
  width: 50px;
  height: 41px;
}

.dugtrio {
  background-image: url(../images/sprite.png);
  background-position: -85px -785px;
  width: 88px;
  height: 68px;
}

.meowth {
  background-image: url(../images/sprite.png);
  background-position: -1076px -405px;
  width: 47px;
  height: 60px;
}

.persian {
  background-image: url(../images/sprite.png);
  background-position: -1129px -366px;
  width: 55px;
  height: 65px;
}

.psyduck {
  background-image: url(../images/sprite.png);
  background-position: -950px -742px;
  width: 68px;
  height: 75px;
}

.golduck {
  background-image: url(../images/sprite.png);
  background-position: -868px -356px;
  width: 77px;
  height: 85px;
}

.mankey {
  background-image: url(../images/sprite.png);
  background-position: -792px -258px;
  width: 65px;
  height: 77px;
}

.primeape {
  background-image: url(../images/sprite.png);
  background-position: -950px -79px;
  width: 75px;
  height: 80px;
}

.growlithe {
  background-image: url(../images/sprite.png);
  background-position: -1129px -151px;
  width: 54px;
  height: 70px;
}

.arcanine {
  background-image: url(../images/sprite.png);
  background-position: -699px -256px;
  width: 77px;
  height: 99px;
}

.poliwag {
  background-image: url(../images/sprite.png);
  background-position: -373px -785px;
  width: 68px;
  height: 60px;
}

.poliwhirl {
  background-image: url(../images/sprite.png);
  background-position: -98px -623px;
  width: 104px;
  height: 75px;
}

.poliwrath {
  background-image: url(../images/sprite.png);
  background-position: -699px -85px;
  width: 92px;
  height: 85px;
}

.abra {
  background-image: url(../images/sprite.png);
  background-position: -392px -623px;
  width: 95px;
  height: 69px;
}

.kadabra {
  background-image: url(../images/sprite.png);
  background-position: -868px -702px;
  width: 78px;
  height: 81px;
}

.alakazam {
  background-image: url(../images/sprite.png);
  background-position: -868px -84px;
  width: 79px;
  height: 86px;
}

.machop {
  background-image: url(../images/sprite.png);
  background-position: -1076px -634px;
  width: 40px;
  height: 65px;
}

.machoke {
  background-image: url(../images/sprite.png);
  background-position: -950px -159px;
  width: 70px;
  height: 85px;
}

.machamp {
  background-image: url(../images/sprite.png);
  background-position: -868px -617px;
  width: 75px;
  height: 85px;
}

.bellsprout {
  background-image: url(../images/sprite.png);
  background-position: -1076px -465px;
  width: 53px;
  height: 53px;
}

.weepinbell {
  background-image: url(../images/sprite.png);
  background-position: -297px -623px;
  width: 95px;
  height: 70px;
}

.victreebel {
  background-image: url(../images/sprite.png);
  background-position: -474px -88px;
  width: 109px;
  height: 93px;
}

.tentacool {
  background-image: url(../images/sprite.png);
  background-position: -1129px -694px;
  width: 43px;
  height: 75px;
}

.tentacruel {
  background-image: url(../images/sprite.png);
  background-position: -950px -339px;
  width: 64px;
  height: 86px;
}

.geodude {
  background-image: url(../images/sprite.png);
  background-position: -363px -310px;
  width: 110px;
  height: 35px;
}

.graveler {
  background-image: url(../images/sprite.png);
  background-position: -487px -623px;
  width: 104px;
  height: 62px;
}

.golem {
  background-image: url(../images/sprite.png);
  background-position: 0px -703px;
  width: 95px;
  height: 82px;
}

.ponyta {
  background-image: url(../images/sprite.png);
  background-position: -1129px -894px;
  width: 40px;
  height: 79px;
}

.rapidash {
  background-image: url(../images/sprite.png);
  background-position: -868px -441px;
  width: 66px;
  height: 98px;
}

.slowpoke {
  background-image: url(../images/sprite.png);
  background-position: -1129px 0px;
  width: 55px;
  height: 76px;
}

.slowbro {
  background-image: url(../images/sprite.png);
  background-position: -474px -181px;
  width: 115px;
  height: 88px;
}

.magnemite {
  background-image: url(../images/sprite.png);
  background-position: -674px -623px;
  width: 85px;
  height: 52px;
}

.magneton {
  background-image: url(../images/sprite.png);
  background-position: -448px -703px;
  width: 73px;
  height: 58px;
}

.farfetchd {
  background-image: url(../images/sprite.png);
  background-position: -1129px -628px;
  width: 52px;
  height: 66px;
}

.doduo {
  background-image: url(../images/sprite.png);
  background-position: -1027px 0px;
  width: 49px;
  height: 94px;
}

.dodrio {
  background-image: url(../images/sprite.png);
  background-position: -950px -244px;
  width: 60px;
  height: 95px;
}

.seel {
  background-image: url(../images/sprite.png);
  background-position: -521px -703px;
  width: 75px;
  height: 54px;
}

.dewgong {
  background-image: url(../images/sprite.png);
  background-position: -474px -861px;
  width: 78px;
  height: 69px;
}

.grimer {
  background-image: url(../images/sprite.png);
  background-position: -590px 0px;
  width: 109px;
  height: 83px;
}

.muk {
  background-image: url(../images/sprite.png);
  background-position: -251px -356px;
  width: 125px;
  height: 77px;
}

.shellder {
  background-image: url(../images/sprite.png);
  background-position: -792px -734px;
  width: 64px;
  height: 48px;
}

.cloyster {
  background-image: url(../images/sprite.png);
  background-position: -399px -448px;
  width: 99px;
  height: 92px;
}

.gastly {
  background-image: url(../images/sprite.png);
  background-position: -590px -183px;
  width: 100px;
  height: 86px;
}

.haunter {
  background-image: url(../images/sprite.png);
  background-position: -363px -105px;
  width: 110px;
  height: 102px;
}

.gengar {
  background-image: url(../images/sprite.png);
  background-position: -590px -450px;
  width: 89px;
  height: 92px;
}

.onix {
  background-image: url(../images/sprite.png);
  background-position: -256px 0px;
  width: 107px;
  height: 124px;
}

.drowzee {
  background-image: url(../images/sprite.png);
  background-position: -65px -939px;
  width: 64px;
  height: 70px;
}

.hypno {
  background-image: url(../images/sprite.png);
  background-position: -699px 0px;
  width: 93px;
  height: 85px;
}

.krabby {
  background-image: url(../images/sprite.png);
  background-position: -279px -703px;
  width: 91px;
  height: 67px;
}

.kingler {
  background-image: url(../images/sprite.png);
  background-position: -123px -256px;
  width: 129px;
  height: 92px;
}

.voltorb {
  background-image: url(../images/sprite.png);
  background-position: -1129px -1030px;
  width: 55px;
  height: 55px;
}

.electrode {
  background-image: url(../images/sprite.png);
  background-position: -78px -861px;
  width: 78px;
  height: 78px;
}

.exeggcute {
  background-image: url(../images/sprite.png);
  background-position: -596px -703px;
  width: 94px;
  height: 39px;
}

.exeggcutor {
  background-image: url(../images/sprite.png);
  background-position: 0px -356px;
  width: 126px;
  height: 92px;
}

.cubone {
  background-image: url(../images/sprite.png);
  background-position: -1076px -783px;
  width: 40px;
  height: 51px;
}

.marowak {
  background-image: url(../images/sprite.png);
  background-position: -1129px -76px;
  width: 52px;
  height: 75px;
}

.hitmonlee {
  background-image: url(../images/sprite.png);
  background-position: -1076px 0px;
  width: 53px;
  height: 85px;
}

.hitmonchan {
  background-image: url(../images/sprite.png);
  background-position: -1129px -291px;
  width: 50px;
  height: 75px;
}

.lickitung {
  background-image: url(../images/sprite.png);
  background-position: -950px 0px;
  width: 77px;
  height: 79px;
}

.koffing {
  background-image: url(../images/sprite.png);
  background-position: -615px -861px;
  width: 65px;
  height: 62px;
}

.weezing {
  background-image: url(../images/sprite.png);
  background-position: -474px -369px;
  width: 108px;
  height: 75px;
}

.rhyhorn {
  background-image: url(../images/sprite.png);
  background-position: -868px -170px;
  width: 82px;
  height: 82px;
}

.rhydon {
  background-image: url(../images/sprite.png);
  background-position: -474px -269px;
  width: 101px;
  height: 100px;
}

.chansey {
  background-image: url(../images/sprite.png);
  background-position: -376px -356px;
  width: 90px;
  height: 77px;
}

.tangela {
  background-image: url(../images/sprite.png);
  background-position: -315px -861px;
  width: 79px;
  height: 73px;
}

.kangaskhan {
  background-image: url(../images/sprite.png);
  background-position: -363px 0px;
  width: 111px;
  height: 105px;
}

.horsea {
  background-image: url(../images/sprite.png);
  background-position: -1076px -950px;
  width: 34px;
  height: 48px;
}

.seadras {
  background-image: url(../images/sprite.png);
  background-position: -950px -583px;
  width: 68px;
  height: 79px;
}

.goldeen {
  background-image: url(../images/sprite.png);
  background-position: -950px -903px;
  width: 64px;
  height: 31px;
}

.seaking {
  background-image: url(../images/sprite.png);
  background-position: -680px -861px;
  width: 57px;
  height: 57px;
}

.staryu {
  background-image: url(../images/sprite.png);
  background-position: -173px -785px;
  width: 67px;
  height: 68px;
}

.starmie {
  background-image: url(../images/sprite.png);
  background-position: -156px -861px;
  width: 79px;
  height: 77px;
}

.mrmime {
  background-image: url(../images/sprite.png);
  background-position: 0px -861px;
  width: 78px;
  height: 78px;
}

.scyther {
  background-image: url(../images/sprite.png);
  background-position: -256px -124px;
  width: 104px;
  height: 119px;
}

.jynx {
  background-image: url(../images/sprite.png);
  background-position: -699px -170px;
  width: 90px;
  height: 86px;
}

.electrabuzz {
  background-image: url(../images/sprite.png);
  background-position: -498px -448px;
  width: 83px;
  height: 89px;
}

.magmar {
  background-image: url(../images/sprite.png);
  background-position: -590px -269px;
  width: 90px;
  height: 93px;
}

.pinsir {
  background-image: url(../images/sprite.png);
  background-position: -699px -528px;
  width: 88px;
  height: 85px;
}

.tauros {
  background-image: url(../images/sprite.png);
  background-position: -363px -207px;
  width: 98px;
  height: 103px;
}

.magikarp {
  background-image: url(../images/sprite.png);
  background-position: -370px -703px;
  width: 78px;
  height: 67px;
}

.gyarados {
  background-image: url(../images/sprite.png);
  background-position: -699px -355px;
  width: 86px;
  height: 88px;
}

.lapras {
  background-image: url(../images/sprite.png);
  background-position: -252px -256px;
  width: 105px;
  height: 88px;
}

.ditto {
  background-image: url(../images/sprite.png);
  background-position: -508px -785px;
  width: 63px;
  height: 52px;
}

.eevee {
  background-image: url(../images/sprite.png);
  background-position: -441px -785px;
  width: 67px;
  height: 54px;
}

.vaporeon {
  background-image: url(../images/sprite.png);
  background-position: -202px -623px;
  width: 95px;
  height: 72px;
}

.jolteon {
  background-image: url(../images/sprite.png);
  background-position: -1129px -769px;
  width: 48px;
  height: 67px;
}

.flareon {
  background-image: url(../images/sprite.png);
  background-position: -792px -478px;
  width: 52px;
  height: 92px;
}

.porygon {
  background-image: url(../images/sprite.png);
  background-position: -950px -510px;
  width: 74px;
  height: 73px;
}

.omanyte {
  background-image: url(../images/sprite.png);
  background-position: -1076px -518px;
  width: 50px;
  height: 56px;
}

.omastar {
  background-image: url(../images/sprite.png);
  background-position: -868px -539px;
  width: 82px;
  height: 78px;
}

.kabuto {
  background-image: url(../images/sprite.png);
  background-position: -614px -547px;
  width: 60px;
  height: 42px;
}

.kabutops {
  background-image: url(../images/sprite.png);
  background-position: -950px -425px;
  width: 64px;
  height: 85px;
}

.aerodactyl {
  background-image: url(../images/sprite.png);
  background-position: -239px -547px;
  width: 125px;
  height: 58px;
}

.snorlax {
  background-image: url(../images/sprite.png);
  background-position: -200px -448px;
  width: 99px;
  height: 96px;
}

.dratini {
  background-image: url(../images/sprite.png);
  background-position: -1129px -496px;
  width: 52px;
  height: 68px;
}

.dragonair {
  background-image: url(../images/sprite.png);
  background-position: -950px -817px;
  width: 59px;
  height: 86px;
}

.dragonite {
  background-image: url(../images/sprite.png);
  background-position: -868px -252px;
  width: 63px;
  height: 104px;
}

.mewtwo {
  background-image: url(../images/sprite.png);
  background-position: -590px -83px;
  width: 87px;
  height: 100px;
}

.mew {
  background-image: url(../images/sprite.png);
  background-position: 0px -939px;
  width: 65px;
  height: 71px;
}

/*------------------------------------------------------------------
----------------            Form styles       ---------------------- -------------------------------------------------------------------*/
input {
  min-height: 25px;
  border-radius: 3px;
  border: 1px solid currentColor;
  color: inherit;
  margin: 5px 0;
  padding: 5px;
}

label {
  display: block;
}

label[for="firstEvolve"] {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 18px;
  margin: 0px 5px -6px 0px;
  font-size: 13px;
  height: 20px;
  border-radius: 3px;
}

label[for="firstEvolve"]:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 15px;
  position: absolute;
  right: 0;
  bottom: 1px;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 3px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label:before {
  content: "\2713";
  font-size: 15px;
  text-align: center;
  line-height: 15px;
}

.select-pokemon {
  min-width: 250px;
}

.numbered-inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbered-inputs input {
  max-width: 100px;
}

.numbered-inputs p {
  min-height: 50px;
}

@media screen and (min-width: 400px) {
  .numbered-inputs p {
    min-height: 40px;
  }
}

.numbered-inputs div {
  max-width: 49%;
}

/*-----------------------------------------------------------------
---------------- Autocomplete UI             ---------------------- -------------------------------------------------------------------*/
input {
  margin: 10px auto 30px;
}

.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-menu {
  background: #fff;
}

.ui-autocomplete a {
  margin: auto;
}

.ui-autocomplete a:active {
  color: inherit;
  background: rgba(184, 251, 168, 0.6);
}

.mystic .ui-autocomplete a:active {
  background: rgba(146, 197, 252, 0.6);
}

.instinct .ui-autocomplete a:active {
  background: rgba(254, 238, 160, 0.6);
}

.valor .ui-autocomplete a:active {
  background: rgba(251, 162, 157, 0.6);
}

.ui-autocomplete a:hover {
  color: inherit;
  background: rgba(184, 251, 168, 0.6);
}

.mystic .ui-autocomplete a:hover {
  background: rgba(146, 197, 252, 0.6);
}

.instinct .ui-autocomplete a:hover {
  background: rgba(254, 238, 160, 0.6);
}

.valor .ui-autocomplete a:hover {
  background: rgba(251, 162, 157, 0.6);
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget .button,
.ui-menu-item a {
  font-family: 'Lato', 'Roboto Condensed';
}

.ui-menu-item a {
  text-transform: capitalize;
}

.ui-menu-item {
  padding: 5px;
}

table {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  border: 1px solid #358998;
}

.mystic table {
  border: 1px solid #0677ee;
}

.instinct table {
  border: 1px solid #ceac03;
}

.valor table {
  border: 1px solid #f3150a;
}

@media screen and (min-width: 767px) {
  table {
    display: table;
    border-collapse: collapse;
    width: 680px;
  }
}

table tr {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table thead tr,
table tfoot tr:first-of-type {
  border: 1px solid currentColor;
  background: #b8fba8;
}

.mystic table thead tr, .mystic
table tfoot tr:first-of-type {
  background: #92c5fc;
}

.instinct table thead tr, .instinct
table tfoot tr:first-of-type {
  background: #feeea0;
}

.valor table thead tr, .valor
table tfoot tr:first-of-type {
  background: #fba29d;
}

table thead,
table tfoot {
  font-size: 14px;
  font-family: 'Roboto condensed';
  text-transform: uppercase;
}

table tfoot tr {
  border: 1px solid currentColor;
}

table td {
  padding: 5px 3px;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 767px) {
  table td {
    padding: 5px 8px;
  }
}

table td.wide {
  display: none;
}

@media screen and (min-width: 767px) {
  table td.wide {
    display: table-cell;
  }
}

table td .meta-evolution {
  display: none;
}

table td .final-destination .pokemon-avatar {
  padding: 0;
  margin: 10px auto;
}

table td .final-destination + a {
  margin: 20px auto;
  display: block;
  max-width: 160px;
}

.evolution-table tbody tr:first-of-type {
  display: none;
}

/*# sourceMappingURL=style.css.map */
