/*-----------------------------------------------------------------
----------------               Base styles   ---------------------- -------------------------------------------------------------------*/
body {
  background: $green--light;
  background: radial-gradient(ellipse at top left, #ffffff 31%,$green--light 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: $green--dark;
  font-family: 'Lato', sans-serif;
  font-size: 14px;

  @include mq(m) {
    font-size: 16px;
  }
  &.mystic {
    background: $blue--light;
    background: radial-gradient(ellipse at top left, #ffffff 31%,$blue--light 100%);
    color: $blue--dark;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  &.instinct {
    background: $yellow--light;
    background: radial-gradient(ellipse at top left, #ffffff 31%,$yellow--light 100%);
    color: $yellow--dark;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  &.valor {
    background: $red--light;
    background: radial-gradient(ellipse at top left, #ffffff 31%,$red--light 100%);
    color: $red--dark;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
.teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 680px;
  margin: 10px auto 30px;
  a {
    display: block;
    width: 100px;
    height: 100px;
    max-width: 30%;
    cursor: pointer;
  }
  .mystic-logo {
    .mystic & {
      animation: logo-grow .3s ease;
    }
  }
  .instinct-logo {
    .instinct & {
      animation: logo-grow .3s ease;
    }
  }
  .valor-logo {
    .valor & {
      animation: logo-grow .3s ease;
    }
  }

}
h2 {
  display: block;
  font-family: 'Roboto Condensed', 'Lato';
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
p {
  margin: 0 auto 1em;
  line-height: 1.2em;
}
small {
  font-size: 0.8em;
}
button {
  background: $green--dark;
  border: none;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto Condensed';
  font-size: 13px;
  margin: 20px 5px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease;
  .mystic & {
    background: $blue--dark;
  }
  .instinct & {
    background: $yellow--dark;
  }
  .valor & {
    background: $red--dark;
  }
  &:hover {
    text-decoration: none;
    background: lighten($green--dark, 10%);
    .mystic & {
      background: lighten($blue--dark, 10%);
    }
    .instinct & {
      background: lighten($yellow--dark, 10%);
    }
    .valor & {
      background: lighten($red--dark, 10%);
    }
  }
  &:active {
    background: darken($green--dark, 5%);
    .mystic & {
      background: darken($blue--dark, 5%);
    }
    .instinct & {
      background: darken($yellow--dark, 5%);
    }
    .valor & {
      background: darken($red--dark, 5%);
    }
  }
}
.button {
  @extend button;
}
li {
  list-style: none;
}
.logo {
  width:100%;
  max-width: 400px;
  position: relative;
  fill: currentColor;
  // left: 50%;
  // transform: translateX(-50%);
  cursor: pointer;
}
.disclaimer {
  font-size: 0.8em;
  line-height: 1.2em;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
  color: #aaa;
}
.pokemon-species {
  text-transform: capitalize;
}
.choice {
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  &.active {
    opacity: 1;
  }
  h2 {
    animation: choice-animate 0.5s forwards ease;
  }
}
.sadface {
  opacity: 0;
  height: 0;
  font-size: 0;
  transition: 0.5s;
  &.active {
    opacity: 1;
    height: auto;
    font-size: 1em;
  }
}
// .message {
//   text-align: center;
//   .egg-message {
//     &:before {
//       content: '';
//       display: block;
//       margin: 0 auto;
//       position: relative;
//       @include sprite($luckyegg);
//     }
//   }
// }
.circular-button {
  border-radius: 20px;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background: currentColor;
  display: block;
  transition: 0.3s ease;
  &:hover {
    background: lighten($green--dark, 10%);
    .mystic & {
      background: lighten($blue--dark, 10%);
    }
    .instinct & {
      background: lighten($yellow--dark, 10%);
    }
    .valor & {
      background: lighten($red--dark, 10%);
    }
  }
  span {
    color: $white;
  }
}
.details-icon {
  &.active {
    background: $white;
    border: 1px solid currentColor;
    margin-bottom: 5px;
    span {
      color: currentColor;
    }
    + .details {
      display: block;
      text-align: left;
      font-size: 11px;
      line-height: 1.5em;
    }
  }
}
.wrapper {
  width: 95%;
  @include mq(m) {
    width: 80%;
  }
  margin: 50px auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.evolution-bonus {
  position: relative;
  margin: 0 auto 30px;

}
.bonus {
  padding: 22px 10px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -40px;
  @include mq(xxs) {
    bottom: -60px;
  }
  @include mq(m) {
    bottom: -30px;
    right: 30px;
  }
  &.active {
    animation: bonus-animate 0.3s forwards ease;
  }
}
.widget__wrapper {

}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  a {
    text-align: center;
  }
}
.species-instance {
  display: inline-block;
  &::first-letter {
    text-transform: uppercase;
  }
}
.further-options {
  display: none;
  &.active {
    display: block;
  }
}
.pokemon-avatar__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  max-width: 100%;
}
.pokemon-avatar {
  margin: 15px 5px;
  position: relative;
  &:last-of-type{  opacity: 0; animation: scale 0.5s forwards ease;}
}
td {
  .pokemon-avatar {
    margin: 0 auto;

  }
}
.pokemon-delete {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -15px;
  right: -10px;
  background: rgba($white, 0.8);
  padding: 3px 5px;
  border-radius: 20px;
  &:after {
    content: '\2715';
    font-size: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
form {
  border: 1px solid $green--dark;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 680px;
  margin: 0 auto 30px;
  text-align: center;
  + p {
    text-align: center;
  }
  h2 {
    transform: rotate(-2deg);
  }
  .mystic & {
    border: 1px solid $blue--dark;
  }
  .instinct & {
    border: 1px solid $yellow--dark;
  }
  .valor & {
    border: 1px solid $red--dark;
  }
}
.buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.evolution-table {
  text-align: center;
  .details {
    display: none;
    span {
      font-weight: 600;
      text-align: right;
      float: right;
      &.pokemon-species {
        float: none;
        font-weight: 300;
      }
    }
    hr {
      border: 0;
      height: 1px;
      background: currentColor;
      background: linear-gradient(to right, rgba($white, 0), currentColor,  rgba($white, 0));;
    }
  }
}
