/*-----------------------------------------------------------------
----------------               Base styles   ---------------------- -------------------------------------------------------------------*/
body {
  background: $green--light;
  background: -moz-radial-gradient(top left, ellipse cover, #ffffff 31%, $green--light 100%);
  background: -webkit-radial-gradient(top left, ellipse cover, #ffffff 31%,$green--light 100%);
  background: radial-gradient(ellipse at top left, #ffffff 31%,$green--light 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$green--light',GradientType=1 );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: $green--dark;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  
  @include mq(m) {
    font-size: 16px;
  }
}
h2 {
  display: block;
  font-family: 'Roboto Condensed', 'Lato';
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
p {
  margin: 0 auto 1em;
  line-height: 1.2em;
}
small {
  font-size: 0.8em;
}
button {
  background: $green--dark;
  border: none;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-family: 'Roboto Condensed';
  font-size: 13px;
  margin: 20px 5px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease;
  &:hover {
    text-decoration: none;
    background: lighten($green--dark, 10%);
  }
  &:active {
    background: darken($green--dark, 5%);
  }
}
.button {
  @extend button;
}
li {
  list-style: none;
}
.logo {
  max-width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}
.disclaimer {
  font-size: 0.8em;
  line-height: 1.2em;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
  color: #aaa;
}
.pokemon-species {
  text-transform: capitalize;
}
.choice {
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  &.active {
    opacity: 1;
  }
  h2 {
    animation: choice-animate 0.5s forwards ease;

  }
}
.sadface {
  opacity: 0;
  transition: 0.5s;
  &.active {
    opacity: 1;
  }
}
// .message {
//   text-align: center;
//   .egg-message {
//     &:before {
//       content: '';
//       display: block;
//       margin: 0 auto;
//       position: relative;
//       @include sprite($luckyegg);
//     }
//   }
// }
.circular-button {
  border-radius: 20px;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
.wrapper {
  max-width: 80%;
  margin: 50px auto;
  height: 100vh;
}
.evolution-bonus {
  position: relative;
  width: 320px;
  margin: 0 auto 30px;
}
.bonus {
  width: 70px;
  padding: 22px 10px;
  height: 70px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  @include sprite($bonus);
  position: absolute;
  right: -70px;
  top: -50px;
  &.bonus-animated {
    animation: bonus-animate 0.3s forwards ease;
  }
}
.widget__wrapper,
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  a {
    text-align: center;
  }
}
.species-instance {
  display: inline-block;
  &::first-letter {
    text-transform: uppercase;
  }
}

.pokemon-number,
.candy-number {
  max-width: 100px;
  display: block;

}
.pokemon-avatar__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  max-width: 100%;
}
.pokemon-avatar {
  margin: 15px 5px;
  position: relative;
  &:last-of-type{  opacity: 0; animation: scale 0.5s forwards ease;}
}
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.pokemon-delete {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -15px;
  right: -10px;
  background: rgba($white, 0.8);
  padding: 3px 5px;
  border-radius: 20px;
  &:after {
    content: '\2715';
    font-size: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
form {
  border: 1px solid $green--dark;
  padding: 20px;
  // border-radius: 3px;
  margin-bottom: 30px;
  max-width: 680px;
  margin: 0 auto 30px;
  text-align: center;
  + p {
    text-align: center;
  }
  h2 {
    transform: rotate(-2deg);
  }
}
.buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
