table {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  border: 1px solid $green--dark;
  .mystic & {
    border: 1px solid $blue--dark;
  }
  .instinct & {
    border: 1px solid $yellow--dark;
  }
  .valor & {
    border: 1px solid $red--dark;
  }
  @include mq(m) {
    display: table;
    border-collapse: collapse;
    width: 680px;
  }
  tr {
    background: $white;
    border-bottom: 1px solid rgba($black, 0.1);
  }
  thead tr,
  tfoot tr:first-of-type {
    border: 1px solid currentColor;
    background: $green--light;
    .mystic & {
      background: $blue--light;
    }
    .instinct & {
      background: $yellow--light;
    }
    .valor & {
      background: $red--light;
    }
  }

  thead,
  tfoot {
    font-size: 14px;
    font-family: 'Roboto condensed';
    text-transform: uppercase;
  }
  tfoot {
     tr {
      border: 1px solid currentColor;
    }
    tr:nth-of-type(2) {
      // display: none;
    }
  }
  td {
    padding: 5px 3px;
    text-align: center;
    vertical-align: middle;
    @include mq(m) {
      padding: 5px 8px;
    }
    &.wide {
      display: none;
      @include mq(m) {
        display: table-cell;
      }
    }

    .meta-evolution {
      display: none;
    }
    .final-destination {
      .pokemon-avatar {
        padding: 0;
        margin: 10px auto;
      }
      + a {
        margin: 20px auto;
        display: block;
        max-width: 160px;
      }
    }
  }
}
  .evolution-table {
    tbody {
      tr:first-of-type {
        display: none;
      }
    }
  }
