$white        : #fff;
$black        : #000;

$green--light : #b8fba8;
$green--dark  : #358998;

$blue--dark   : #0e3b6b;
$blue--light   : #92c5fc;
$yellow--dark : #ceac03;
$yellow--light : #feeea0;
$red--dark    : #771252;
$red--light    : #fba29d;
